<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - News Portal</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<header>
    <h1>News Portal</h1>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h2>About Us</h2>
    <p>This is a fake news detector project based on machine learning created for MLSA.</p>
</div>

<footer>
    <p>&copy; 2024 News Portal. All rights reserved.</p>
</footer>

</body>
</html>
